.site-noticias .bloque-apertura-verticales {
  background-color: #ffffff;
  margin-top: 8rem;
}

.robapagina-2{
    text-align: center;
}

#externo-canal.header-ntn24 ul.canal-fijo {
  background-color: #2d4c9a;
}

.menu-general-canal.header-ntn24 #menu-segundario h2 {
  color: #fff;
}

#menu-segundario.is-visible {
  background-color: #2d4c9a;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.menu-general-canal.header-ntn24 nav li {
  color: #fff;
}

.linea {
  background-color: #DC5228;
}

.dropbtn i {
  color: #DC5228;
}

.bloque-en-vivo {
  background-color: #fff;
}

.bloque-en-vivo .kWidgetIframeContainer {
  max-height: 480px;
}

form.gsc-search-box.gsc-search-box-tools {
  border: 1px solid white;
}

.gsc-search-button.gsc-search-button-v2 svg path {
  fill: #fff;
}

.lo-mas-visto .numero {
  color: #2d4c9a;
}

.lo-mas-visto .container {
  max-width: 100%;
}

.envivo-1 {
  margin-right: 0px;
}

.menu-general-canal #menu-principal .list-inline li {
  margin-right: 5px;
}

#externo-canal.header-ntn24 {
  background-color: #2D4C9A;
}

#externo-canal.header-ntn24 .logo {
  background-color: #2D4C9A;
  padding-top: 3px;
}

#externo-canal.header-ntn24 .contendor-menu {
  background: #243d7b;
}

#externo-canal.header-ntn24 ul.canal-fijo {
  background-color: #2d4c9a;
}

#externo-canal.header-ntn24 #menu-principal nav li {
  border-bottom: 1px solid #ffffff;
}

#externo-canal.header-ntn24 .gsc-search-button.gsc-search-button-v2 svg path {
  fill: #fbfbfb;
}

#externo-canal.header-ntn24 .redes a i {
  color: #f5f5f5;
}

#externo-canal.header-ntn24 .gsc-control-wrapper-cse {
  border: 1px solid #fff;
}

#externo-canal.header-ntn24 .envivo-1 {
  background-color: #DC5228;
}

.header-ntn24 .float-left.float-mobile {
  width: 80%;
}

.header-ntn24 .float-right.float-mobile-two {
  width: 20%;
  margin-top: 10px;
}

.menu-des ul li {
  margin-right: 0;
}

.bloque-en-vivo {
  background-color: transparent;
}

.bloque-apertura-verticales {
  margin-top: 4rem;
}

.menu-portal nav ul li {
  color: #fff;
}
.bloque-nota-completa h2{
  font-size: 1.5rem;
    font-weight: 400;
}

.contenedor-header.pd-activo #externo-canal {
  background-color: rgb(45, 76, 154);
}
.player-embed.envivo-dm iframe {
    min-height: 480px;
    position: relative !important;
}

@media(max-width:1198px) {
  .header-ntn24 .float-right.float-mobile-two {
    display: none;
  }
  .header-ntn24 .float-left.float-mobile {
    width: 100%;
  }
}

.titulo-portal-header-2 {
  color: #fff;
}

@media (max-width: 1440px) {
  .bloque-en-vivo {
    margin-top: -20px;
  }
  .site-noticias .bloque-apertura-verticales {
  margin-top: 4rem;
}
}

@media(max-width:1024px) {
  .header-ntn24 .float-right.float-mobile-two {
    display: block;
  }
  .header-ntn24 .float-left.float-mobile {
    width: 40%;
  }
  .menu-general-canal #menu-principal .list-inline li {
    margin-right: 50px;
  }
    .player-embed.envivo-dm iframe {
    position: relative !important;
    width: 100% !important;
}
    .bloque-en-vivo .container{
        max-width: 100% !important;
    }
}

@media(max-width:768px) {
  .site-noticias .bloque-texto h1 {
    color: #000;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  .site-noticias .bloque-texto p {
    font-size: 13px;
  }
  .header-ntn24 .float-right.float-mobile-two {
    width: 47%;
  }
    .player-embed.envivo-dm iframe {
    min-height: auto;
    height: 320px !important;
}
}